---
import Input from './Input.astro'
import Button from '../ui/Button.astro';

const pathname = Astro.url.pathname;
---

<form class="flex flex-col gap-4" action=`/api/${pathname}` method="POST">
    <Input
      id="title"
      placeholder={pathname === '/incomes' ? 'Nombre del ingreso' : 'Nombre del gasto'}
      name="title"
      type="text"
      required=true
    />
    <Input
      id="amount"
      placeholder="Cantidad"
      name="amount"
      type="number"
      required=true
    />
    <Input
      id="date"
      placeholder="Ingresa la fecha"
      name="date"
      type="datetime-local"
      required=true
    />
    <select name="category" id="category" class="bg-white dark:bg-zinc-800 border dark:border-border-zinc-800 border-slate-400 rounded-lg py-2 px-4">
        <option value="youtube" class="text-black dark:text-white">Youtube</option>
        <option value="others" class="text-black dark:text-white">Otros</option>
        <option value="subscriptions" class="text-black dark:text-white">Suscripciones</option>
    </select>
    <Button type="submit">
        Agregar
    </Button>
</form>