---
import Layout from '../layouts/Layout.astro';
import LayoutTracker from '../layouts/LayoutTracker.astro';
import LayoutPages from '../layouts/LayoutPages.astro';

---

<Layout title="Welcome to Astro.">
	<LayoutPages>
		<LayoutTracker>
			<div>
				<h1>Gastos</h1>
			</div>
		</LayoutTracker>
	</LayoutPages>
</Layout>