---
import Layout from '../layouts/Layout.astro';
import LayoutTracker from '../layouts/LayoutTracker.astro';
import LayoutPages from '../layouts/LayoutPages.astro';
import Form from '../components/form/Form.astro';
import IncomesExpensesInfo from '../components/IncomesExpensesInfo.astro';
import { app } from "../config/firebase-server";
import { getFirestore } from "firebase-admin/firestore";

interface Income {
    id: string;
    title: string;
    amount: number;
    date: string;
    category: string;
}

const db = getFirestore(app);
const incomesRef = db.collection("incomes");
const incomesSnapshot = await incomesRef.orderBy("createdAt", "desc").get();
const incomes = incomesSnapshot.docs.map((doc) => ({
  id: doc.id,
  ...doc.data(),
})) as Income[];

---

<Layout title="Welcome to Astro.">
	<LayoutPages>
		<LayoutTracker>
			<div class="h-full">
				<h1 class="font-medium text-2xl">Ingresos</h1>
                <section class="h-full">
                    <div class="bg-slate-200 dark:bg-zinc-700 p-6 rounded-xl mt-6 shadow-md border-slate-200 dark:border-zinc-700 border block">
                        <p class="text-xl text-center font-medium">Ingresos totales: <span class=" text-emerald-400">$123000</span> </p>
                    </div>
                    <div class="bg-slate-200 dark:bg-zinc-700 p-6 rounded-xl mt-6 shadow-md border-slate-200 dark:border-zinc-700 border grid grid-cols-12 gap-4">
                        <div class=" col-span-3">
                            <Form />
                        </div>
                        <div class="col-span-9 flex flex-col gap-4">
                            {incomes.map( item => (
                                <IncomesExpensesInfo item={item} />
                            ))}
                        </div>
                    </div>
                </section>
			</div>
		</LayoutTracker>
	</LayoutPages>
</Layout>