---
import Layout from '../layouts/Layout.astro';
import LayoutTracker from '../layouts/LayoutTracker.astro';
import LayoutPages from '../layouts/LayoutPages.astro';
import { getAuth } from 'firebase-admin/auth';
import { app } from '../config/firebase-server';


const auth = getAuth(app);

/* Verificar la sesión actual */
if (!Astro.cookies.has("session")) {
  return Astro.redirect("/signin");
}
const sessionCookie = Astro?.cookies?.get("session")?.value;
if(!sessionCookie) return null
const decodedCookie = await auth.verifySessionCookie(sessionCookie);
const user = await auth.getUser(decodedCookie.uid);

if (!user) {
  return Astro.redirect("/signin");
}
---

<Layout title="Welcome to Astro.">
	<LayoutPages>
		<LayoutTracker>
			<div class="h-full w-full bg-red-500">
				hola
			</div>
		</LayoutTracker>
	</LayoutPages>
</Layout>
