---
import { formatDate, formatNumber } from "../../utils/functions";

interface Transaction {
    id: string;
    title: string;
    amount: number;
    date: string;
    category: string;
    type: string;
	createdAt?: string | undefined;
}

const { transactions } = Astro.props
 
---

<div>
  <h3 class="font-medium text-lg">Historial Reciente</h3>
  <ul>
    {transactions.map( (item: Transaction) => (
      <li class="flex justify-between mt-6 max-w-xs">
        <div class="flex gap-3 items-center">
          <div class="dark:bg-black bg-slate-300 p-2 rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-cash" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke=`${item.type === "income" ? "#22C55E" : "#B91C1C"}` fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <path d="M7 9m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z" />
              <path d="M14 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
              <path d="M17 9v-2a2 2 0 0 0 -2 -2h-10a2 2 0 0 0 -2 2v6a2 2 0 0 0 2 2h2" />
            </svg>
          </div>  
          <div class="flex flex-col gap-1">
            <p class="font-medium capitalize">{item.title}</p>
            <p class="text-[12px] text-gray-600 dark:text-gray-400">{formatDate(item.date)}</p>
          </div>
        </div>
        <span class="font-medium">{item.type === "income" ? '+' : '-'}{" "}${formatNumber(item.amount)}</span>
      </li>
    ))}
  </ul>
</div>