---
interface TotalAmountProps {
  text: string;
  amount: number;
  customClass?: string;
}

const { text, amount, customClass} = Astro.props as TotalAmountProps;
---

<div
  class="bg-slate-200 dark:bg-zinc-700 p-6 rounded-xl mt-6 shadow-md border-slate-200 dark:border-zinc-700 border flex flex-col gap-2 font-medium"
>
  <span>{text}</span>{" "}
  <span class=`${customClass} text-2xl`>$ {amount}</span>
</div>
