---
import Sidebar from "../components/sidebar/Sidebar.astro";
import LayoutTracker from "./LayoutTracker.astro";

---

<div class="p-6 grid grid-cols-[1.6fr_10.4fr] gap-6 min-h-screen bg-slate-200 dark:bg-black dark:text-white">
    <Sidebar />
    <slot />
</div>