

<div class="p-4 border bg-white dark:border-zinc-700 rounded-xl  border-slate-300 dark:bg-zinc-800 shadow-md">
    <h1 class="font-semibold text-center">¡Bienvenido!</h1>
        
    <button id="send" class=" bg-blue-600 py-2 px-4 rounded-xl hover:bg-blue-700 text-sm flex items-center justify-center gap-2 mt-7 text-white">
      <img src="/images/google.png" alt="google" class=" h-6 w-6 object-contain" />
      Iniciar sesión con Google
    </button>
</div>

<script>
  import { getAuth, GoogleAuthProvider, signInWithPopup, inMemoryPersistence } from "firebase/auth";
  import { app as appClient } from "../../config/firebase-client";

  const auth = getAuth(appClient);
  // Esto evitará que el navegador almacene los datos de sesión
  auth.setPersistence(inMemoryPersistence);

  const provider = new GoogleAuthProvider();

  const form = document.querySelector("#send") as HTMLButtonElement;
  form.addEventListener("click", async (e) => {
    e.preventDefault();

    try {
      const result = await signInWithPopup(auth, provider);
      const user = result.user;
      const idToken = await user.getIdToken();
      const response = await fetch("/api/auth/signin", {
        method: "GET",
        headers: {
          Authorization: `Bearer ${idToken}`,
        },
      });

      if (response.redirected) {
        window.location.assign(response.url);
      }
    } catch (error) {
      console.error(error);
    }
  });
</script>
